@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');

body {
  margin: 0;
  background: #f3efef;
  font-family: 'Work Sans', sans-serif;
  font-weight: 800;
  background-color: #afcff8;
}

.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  position: relative; /* Add position relative for absolute positioning of the image */
}

header {
  background: #ba3a04;
  /* border: 2px solid#ba3a04;
  border-radius: 20px; */
}

.logo {
  font-size: 20px;
  color: #fff;
  margin: -50px;
  padding: 0;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  
}

nav {
  
  height: 40px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 20px;
  padding-top: 23px;
  position: relative;
  margin-right: 0%;
}

nav a {
  color: #f8f5f5;
  text-decoration: none;
  font-size: 16px;
  display: inline-block;
  padding-bottom: 5px;
 

}

nav a:hover {
  color: #0f0e0e;
 
}

nav a::before {
  content: '';
  display: block;
  height: 2px;
  background-color: #444;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

.logo-image {
  position: absolute; /* Position the image absolutely */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the image */
  z-index: -1; /* Place the image behind the text */
  max-width: 100px; /* Adjust as needed */
  max-height: 50px; /* Adjust as needed */
}

/* Dropdown menu styles */
.dropdown {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border: 2px solid white;
  border-radius: 10px;
}

.dropdown li {
  display: block;
  margin: 0;
  padding: 10px;
 
}

.dropdown li a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  display: block;
  float: left;
  
}

.dropdown li a:hover {
  color: #f6ecec;
 
}

.more-link:hover + .dropdown {
  display: block;
 
}