/* Global Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and Layout */
/* body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
} */

/* Navbar */
nav {
    background: #333;
    color: #fff;
    padding: 10px;
    width: 100%;
    font-family: 'Baloo Bhai', cursive;
    position: sticky; /* Make the navbar sticky */
    top: 0; /* Position it at the top of the viewport */
    z-index: 1000; /* Ensure it's above other content */
}

/* Navbar Container */
#navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Logo */
#logo img {
    height: 50px;
    width: auto;
    border-radius: 50%;
    margin: 20px;
}

/* Fitness Text */
.fitness {
    font-weight: bold;
    font-size: 20px;
    font-family: 'Arial', sans-serif;
    margin: 20px;
}

.tooba {
    color: #e0d1cd;
    text-decoration: none;
}

.fitness-link {
    color: #c20b0b;
    font-size: 40px;
    text-decoration: none;
}

/* Navbar Links */
#navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

#navbar ul li {
    margin: 0 10px;
}

#navbar ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 15px;
}

#navbar ul li a:hover {
    background: white;
    color: black;
}

/* Home Section */
#Home {
    background: url('/public/Images/img1.jpg') no-repeat center center/cover;
    padding: 100px 20px;
    color: white;
    text-align: center;
}

#Home h4 {
    font-size: 2rem;
}

#Home p {
    font-size: 1.1rem;
    margin: 20px 0;
}

.btn {
    padding: 10px 30px;
    background-color: #6d0c0c;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

.btn:hover {
    background-color: black;
    color: white;
}

/* Services Section */
#services {
    padding: 50px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#services .box {
    border: 2px solid rgb(121, 17, 17);
    padding: 20px;
    margin: 10px;
    border-radius: 30px;
    background: #d5c1c1;
    flex: 1 1 calc(33.333% - 20px);
    box-sizing: border-box;
    max-width: 300px;
    text-align: center;
}

#services .box img {
    height: 150px;
    margin: auto;
    display: block;
}

#services .box h2 {
    font-size: 1.5rem;
    margin: 10px 0;
}

#services .box p {
    font-size: 1rem;
}

/* Client Section */
.client-section {
    padding: 50px 20px;
    background: url('/public/Images/img\ new.jpg') no-repeat center center/cover;
    text-align: center;
}

.clients {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.client-item {
    margin: 10px;
}

.clients img {
    height: 120px;
    width: 120px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 30px;
}

/* Contact Section */
#contact {
    background: url('/public/Images/main.jpg') no-repeat center center/cover;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#contact::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#contact h1 {
    color: white;
    font-size: 2.5rem;
    margin-bottom: 20px;
    z-index: 1;
}

#contact-box {
    color: rgb(239, 234, 229);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    z-index: 1;
}

#contact-box form {
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
}

#contact-box label {
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif;
    margin-bottom: 5px;
}

#contact-box input,
#contact-box textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.8);
}

#contact-box button {
    padding: 10px 20px;
    background-color: #6d0c0c;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin: 35px auto;
}

#contact-box button:hover {
    background-color: #000810;
}

footer {
    background: black;
    color: white;
    padding: 9px 20px;
    text-align: center;
}

.h-primary {
    font-family: 'Bree Serif', serif;
    font-size: 3.8rem;
    padding: 5px;
}

.h-secondary {
    font-family: 'Bree Serif', serif;
    font-size: 1.4rem;
    padding: 12px;
}

.center {
    text-align: center;
}




/* Media Queries */
@media (max-width: 1200px) {
    #Home h4, #services .box h2, #contact h1, .h-primary, .h-secondary {
        font-size: calc(1.8rem + 0.5vw);
    }

    #services .box p {
        font-size: calc(0.9rem + 0.2vw);
    }

    #services .box img {
        height: calc(150px - 10px);
    }

    #services .box {
        max-width: calc(300px - 20px);
    }

    .btn {
        padding: 8px 20px;
        font-size: calc(0.8rem + 0.5vw);
    }
}

@media (max-width: 992px) {
    #Home h4 {
        font-size: 1.8rem;
    }

    #Home p {
        font-size: 0.8rem;
    }

    #services .box {
        flex: 1 1 calc(50% - 20px);
    }

    #services .box p {
        font-size: 0.85rem;
    }

    #services .box img {
        height: calc(150px - 20px);
    }

    #services .box h2 {
        font-size: 1.25rem;
    }

    .clients img {
        height: 100px;
        width: 100px;
    }

    #contact h1 {
        font-size: 2rem;
    }

    #contact-box input,
    #contact-box textarea {
        font-size: 1rem;
    }

    .btn {
        padding: 8px 20px;
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    #navbar {
        flex-direction: column;
        align-items: center;
    }

    #logo {
        margin: 2px ;
    }

    .fitness {
        margin: 2px ;
        
    }

    #navbar ul {
        flex-direction: row;
        align-items: center;
    }

    #Home {
        padding: 20px;
    }

    #services .box {
        flex: 1 1 100%;
        margin: 10px 0;
    }

    #services .box p {
        font-size: 0.8rem;
    }

    #services .box img {
        height: calc(150px - 30px);
    }

    #services .box h2 {
        font-size: 1rem;
    }

    #services .box {
        max-width: calc(300px - 60px);
    }

    .clients {
        flex-direction: column;
    }

    .clients img {
        height: 80px;
        width: 80px;
    }

    #contact-box form {
        width: 100%;
    }

    .btn {
        padding: 8px 15px;
        font-size: 0.9rem;
    }

    #Home h4, #services .box h2, #contact h1, .h-primary, .h-secondary {
        font-size: calc(1.8rem + 0.5vw);
    }

    .h-secondary {
        text-align: center;
        font-size: 1.2rem;
    }
}

@media (max-width: 576px) {
    body {
        font-size: 14px;
    }

    #Home h4 {
        font-size: 1.5rem;
    }

    #Home p {
        font-size: 0.75rem;
    }

    #services .box {
        padding: 15px;
    }

    #services .box img {
        height: calc(150px - 40px);
    }

    #services .box h2 {
        font-size: 0.9rem;
    }

    .clients img {
        height: 70px;
        width: 70px;
    }

    #contact h1 {
        font-size: 1.8rem;
    }

    .btn {
        padding: 5px 10px;
        font-size: 0.8rem;
    }
}
